@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
@layer base {
  :root {
    /* Discord Font */
    font-family: 'Noto Sans', sans-serif;

    /* Text Colors */
    --text-base: 255, 255, 255;
    --text-muted: 173, 189, 202;
    --text-inverted: 35, 39, 42;
    /* Background Colors */
    --bg-base: 35, 39, 42;
    --bg-muted: 44, 49, 53;
    --bg-surface: 54, 57, 63;
    --bg-notification: 114, 137, 218;

    --bg-button-base: 88, 101, 242;
    --bg-button-disabled: 150, 150, 150;
    --bg-button-muted: 114, 137, 218;
    --bg-button-inverted: 35, 39, 42;
    --bg-button-hover: 71, 82, 196;

    --color-alert: 240, 71, 71;
    --color-alert-muted: 179, 66, 68;
  }
}

/* For AppBar */
.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.undraggable {
  -webkit-app-region: no-drag;
}

@layer components {
  .server-button:hover .indicator {
    height: 25%;
  }
  .server-button.selected .indicator {
    height: 50%;
  }

  * {
    @apply outline-0;
  }
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #4a4a4a #1a191a;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #1a191a;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 7px;
    border: 3px solid #1a191a;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  .thin-scroll * {
    scrollbar-width: auto;
    scrollbar-color: #cacbce #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .thin-scroll *::-webkit-scrollbar {
    width: 12px;
  }

  .thin-scroll *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .thin-scroll *::-webkit-scrollbar-thumb {
    background-color: #cacbce;
    border-radius: 6px;
    border: 4px solid #ffffff;
  }
}
